{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <h1>Se connecter</h2>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
<a href="{{ path('app_register')}}">Créer un compte</a>

<style>
form{
    display: flex; 
    flex-direction: column ;
}

h1{
    margin-bottom: 0;
}

label{
    margin-top: 20px;
}

input{
    font-size: 1.3em;
}

button{
margin-top: 30px;
height: 30px;
}
</style>
{% endblock %}
