<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include './inc/navbar.html.twig' %}
		{% block body %}{% endblock %}
		{% include './inc/footer.html.twig' %}
	</body>
</html>

<style>
	htlm,
	body {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		font-family: 'Montserrat', sans-serif;
	}

	h1 {
		font-size: 3em;
	}

	li {
		list-style: none;
	}

	a {
		outline: none;
		text-decoration: none;
		color: black;
		font-size: 1.2em;
	}
	a:visited {
		color: black;
	}

	form {
		display: flex;
		flex-direction: column;
		width: 30%;
		justify-content: center;
		align-items: center;
	}

	form div {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	label {
		font-weight: bold;
	}
	input {
		font-size: 1.1em;
		padding: 8px;
		margin: 5px;
		border: solid 1px black;
		border-radius: 7px;
	}

	.submit {
		background: white;
		color: black;
		border: solid 1px black;
		padding: 10px;
		padding-inline: 15px;
		transition: all 0.3s;
		font-size: 1.2em;
		border-radius: 50px;
		max-width: 250px;
	}

	.submit.little {
		font-size: 0.9em;
		padding: 5px;
	}

	.submit.rm:hover {
		background: brown;
		border-color: brown;
	}

	.submit:hover {
		background: black;
		color: white;
		cursor: pointer;
	}
</style>
