{% extends 'base.html.twig' %}

{% block title %}New CustomerAddress{% endblock %}

{% block body %}
    <h1>Ajouter un nouvelle adresse</h1>

    {{ include('customer_address/_form.html.twig') }}
{% endblock %}
