<footer>
  <p>Licence Développement Web et Mobile - Sorbonne Université </p>
  <p>Noé PHILIPPE</p>
</footer>

<style>
  footer{
    width: 100%; 
    padding: 20px; 
    margin-top: 30px; 
    text-align: center;
    background: black; 
    color: white;
  }
</style>