{% extends 'base.html.twig' %}

{% block title %}Modifier vos informations
{% endblock %}

{% block body %}
	<h1>Edit User</h1>

	{{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('user_page') }}">Retour</a>


{% endblock %}
